body{
    margin:auto;
    font-family: 'calibri', sans-serif;
    color:#424242;
    font-weight: 200;
    text-align: center;
}
header hr{
    border: 1px solid rgb(254, 202, 7);
    width: 10%;
    margin-left: 44px;
}
h1{
    font-size:4em;
    margin-top:100px;
    margin-bottom:0px;
    font-weight: 200;
}
h1 span{
    color: rgb(254, 202, 7);
    font-weight:400;
}
h2{
    margin-top:0;
    margin-bottom:4px;
    font-weight: 400;
}
h3{
    font-size:1.8em;
    text-transform: uppercase;
    border-bottom:2px solid rgb(254, 202, 7);
    padding-bottom:15px;
    font-weight: 500;
}
h4{
    margin:0;
}
h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size:1em;
}
aside{
    background-color: rgb(254, 202, 7);
}
aside h3{
    background-color:#424242;
    padding : 10px;
    text-align: center;
    color: rgb(254, 202, 7);
}
address {  
    font-style: normal;
    font-weight: 500;
    margin: 0;
}
address p{
    margin: 0;
}
.contact{
    padding: 0 40px 20px 40px;
}
a{
    text-decoration: none;
    color: #424242;
}
aside .fas{
    color:#424242;
    font-size:3em;
}
.aside_loisir_icons{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-top: 1rem;
}
.color {
    float:left;
    padding-right: 10px;
    color: rgb(254, 202, 7);
}
.date {
    float: left;
}
@media only screen and (min-width: 750px){
    body {
        max-width: 1190px;
        text-align: left;
    }
    header {
        display: flex;
        flex-direction: row;
    }
    .droite{
        padding-left: 60px;
    }
    header img {
        width: 250px;
        background-color: rgb(254, 202, 7);
    }
    .photo {
        height: auto;
        width: 250px;
        background-color: rgb(254, 202, 7);
    }
    .container{
        display: flex;
        flex-direction: row;
    }
    aside{
        width: 250px;
    }
    header hr{
        width: 10%;
        margin: 0px;
    }
    a:hover{
        color: blue
    }
    .boulot {
        width: 100%;
        height: 120px;
        margin-bottom: 70px;
        clear: both;
    }
    .boulot h4 {
        font-size: 1.3em;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 500;
        color:#424242;
    }
    .date {
        width: 25%;
        height: 100%;
    }
    .poste {
        float: right;
        width: 70%;
    }

}